#image:
#   registry: registry.gitlab.com
#   image: gitlab-org/gitlab-runner
imagePullPolicy: IfNotPresent
gitlabUrl: https://gitlab.com/
runnerRegistrationToken: {{reg_token}}
unregisterRunners: true
rbac:
  create: true
runners:
  tags: "kubernetes"
  runUntagged: flase
  protected: flase
    
  config: |
    [[runners]]
      executor = "kubernetes"
      [runners.feature_flags]
        FF_GITLAB_REGISTRY_HELPER_IMAGE = true
      [runners.kubernetes]
        namespace = "{{namespace}}"
        image = "ubuntu:20.4"
        privileged = true
        [runners.kubernetes.node_selector]
          purpose = "ci-runner"
        [runners.kubernetes.node_tolerations]
          "purpose=ci-runner" = "NoSchedule"
        [runners.kubernetes.dns_config]
          [[runners.kubernetes.dns_config.options]]
            name = "ndots"
            value = "1"
        

      [runners.cache]